*{
	margin:0;
	padding:0;
}
.header,.content,.footer{
	margin:0 auto;
	text-align: center;
	min-width: 1280px;
}
.header{
	width: 1280px;
	height: 56px;
}
.header .logo{
	float: left;
	margin-left: 55px;
	height: 56px;
	line-height: 56px;
}
.header .logo span{
	display: inline-block;
	height: 56px;
	line-height: 56px;
	font-size: 21px;
	font-weight: bold;
}
.header ul.nav{
	height: 56px;
	float: right;
	margin-right: 50px;
}
.header ul.nav li{
	float: left;
	height: 56px;
	line-height: 56px;
}

.header ul.nav li a{
	display: inline-block;
	padding:0 20px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	color: #AAAAAB;
}

.header ul.nav li a.active::after{
	content: "";
	width: 48px;
	height: 5px;
	background-color: #E74F4D;
	display: block;
}

.header ul.nav li a.active:hover::after{
	width: 48px;
}

.header ul.nav li a::after{
	content: "";
	margin:0 auto;
	width: 0;
	height: 5px;
	background-color: #E74F4D;
	display: block;
	transition:all 0.3s;
}

.header ul.nav li:last-child{
	cursor: pointer;
	padding-left: 20px;
	color: #E74F4D;
}

.header ul.nav li a:hover,.header ul.nav li a.active{
	color: #E74F4D;
}

.header ul.nav li a:hover::after{
	width: 57px;
}

.content .description{
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

.content .description .title{
	position: absolute;
	top: 235px;
	left:110px;
	color: #fff;
}

.content .description .title h1{
	font-size: 60px;
	margin-bottom: 25px;
}

.content .description .title p{
	font-size: 21px;
	line-height: 1.4;
}

.content .description .title span{
	display: inline-block;
	width: 330px;
	height: 65px;
	line-height: 65px;
	font-size: 35px;
	background-color: #E8504F;
	margin-top: 68px;
	cursor: pointer;
}

.content .description .title span:hover{
	background-color: #D36362;
}

.content .description ul{
	display: inline-block;
	width: 100%;
	height: 250px;
}

.content .description ul li{
	padding-top: 40px;
	float: left;
	display: inline-block;
	width: 25%;
	height: 250px;
	color: #909090;
}

.content .description ul li i{
	padding-bottom: 45px;
}

.content .description ul li p{
	padding-bottom: 10px;
	border-right: 2px solid #909090;
}

.content .description ul li p.noBorder{
	border:none;
}

.content .activity{
	margin: 0 auto;
	width: 1280px;
}

.content .activity .title{
	width: 1280px;
	height: 360px;
	padding-top: 88px;
	background-color: #EDEDED;
	color: #A0A0A0;
	font-size: 28px;
}

.content .activity .title h1{
	padding-top:50px;
}

.content .activity .search{
	position: relative;
	margin:0 auto;
	width: 1280px;
	height: 340px;
	color: #eee;
	background: url(../images/banner2.jpg) no-repeat;
}

.content .activity .search h6{
	font-size: 25px;
	padding-top: 50px;
}

.content .activity .search p{
	font-size: 10px;
	margin-bottom: 50px;
}

.content .activity .search h6::after{
	content:"";
	display: block;
	width: 30px;
	height: 3px;
	background-color: #eee;
	margin: 10px auto 18px;
	transition:all 0.3s;
}
.content .activity .search:hover h6::after{
	width: 220px;
}

.content .activity .search div{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 28px;
	width: 240px;
}

.content .activity .search input{
	width: 230px;
	height: 34px;
	padding-left: 5px;
	outline: #E3E3E5;
	color: #88888A;
}

.content .activity .search div .posit{
	position: absolute;
	right:2px;
	top:4px;
}

.content .activity .search div ul{
	display: none;
}

.content .activity .search input:focus + ul{
	display: block;
}

.content .activity .search div ul li{
	display: inline-block;
	width: 237px;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	color: #88888A;
	text-align: left;
	cursor: pointer;
	background-color: #E3E3E5;
}

.content .activity .search div ul li::before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 8px;
	margin:0 9px;
}

.content .activity .search div ul li:hover::before{
	background: url(../images/choose.png) no-repeat;
}

.content .activity .search div ul li:hover{
	color: #eee;
	background-color: #BE4E48;
}

.content .activity .search span{
	display: inline-block;
	width: 230px;
	height: 38px;
	line-height: 38px;
	background-color: #E8504F;
	font-weight: bold;
	cursor: pointer;
}

.content .activity .search span:hover{
	background-color: #BF4E48;
}

.content .activity .gallery{
	width: 1280px;
	height: 606px;
	margin: 0 auto;
	background-color: #F8F8F8;
}

.content .activity .gallery li{
	margin-top: 100px;
	width: 25%;
	float: left;
	font-size: 15px;
}

.content .activity .gallery li .big{
	font-size: 30px;
}

.content .activity .gallery li p{
	line-height: 2;
	font-size: 12px;
	color: #A5959A;
}

.content .activity .gallery li img{
	padding: 15px 10px;
	background-color: #fff;
	border: 1px solid #D9D5D4;
}

.content .activity .world{
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 1280px;
	height: 566px;
	overflow: hidden;
}

.content .activity .world li{
	float: left;
}

.content .activity .world div{
	float: left;
}

.content .activity .world .worldList .showImg{
	position: relative;
	width: 850px;
	height: 566px;
	background: url(../images/img.jpg);
	color: #fff;
}

.content .activity .world .worldList .showImg h1{
	margin-top: 200px;
	font-size: 60px;
}

.content .activity .world .worldList .showImg .posit{
	position: absolute;
	right: -2px;
	top:267px;
	transform:rotate(180deg);
}

.content .activity .world .worldList .showContent h2{
	padding: 160px 0 20px;
}

.content .activity .world .worldList .showContent p{
    width: 288px;
	margin: 0 auto;
    line-height: 30px;
    font-size: 12px;
    color: #aaa;
}

.content .activity .world .worldList .showContent>span{
	display: block;
	width: 105px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	border: 1px solid #E4656E;
	color: #E4656E;
	font-size: 12px;
	cursor: pointer;
}

.content .activity .world .worldList .showContent>span:hover{
	background-color: #E4656E;
	color: #fff;
}

.content .activity .world .worldList .showContent ul{
	margin: 30px auto;
	width: 200px;
	height: 20px;
}

.content .activity .world .worldList .showContent ul a{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 6px;
	border: 1px solid #929292;
	border-radius: 50%;
}

.content .activity .world .worldList .showContent ul .active{
	background-color: #929292;
}

.content .activity .world .worldList .showContent h2 span{
	color: red;
}

.content .activity .world .worldList .showImg p{
	font-size: 20px;
}

.content .activity .world .showContent{
	width: 430px;
	height: 566px;
}

.content .activity .ourselves{
	width: 100%;
	height: 520px;
}

.content .activity .ourselves .img .posit1{
	position: absolute;
	left:-2px;
	top:247px;
}

.content .activity .ourselves div{
	position: relative;
	float: left;
	width: 33.3%;
	height: 520px;
	font-size: 20px;
	background-color: #fff;
}

.content .activity .ourselves div p{
	margin-top: 170px;
}

.content .activity .ourselves div p::after{
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	margin: 25px auto;
	transition:all 0.3s;
	background-color: #ACACAC;
}

.content .activity .ourselves .red{
	color: #fff;
	background-color: #E8504F;
}

.content .activity .ourselves .red p::after{
	background-color: #fff;
}

.content .activity .ourselves div:hover p::after{
	width: 130px;
}

.content .activity .ourselves span{
	display: inline-block;
	width: 165px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border: 1px solid #E8504F;
	color: #E8504F;
}

.content .activity .ourselves div span:hover{
	background-color: #E8504F;
	color: #fff;
}

.content .activity .ourselves .red span:hover{
	background-color: #fff;
	color: #E8504F;
}

.content .activity .ourselves .red span{
	border: 1px solid #fff;
	color: #fff;
}

.content .volunteer{
	width: 1280px;
	height: 750px;
	margin: 0 auto;
	padding-top: 119px;
}

.content .volunteer .title{
	position: relative;
	margin: 0px auto 60px;
	font-size: 18px;
	height: 129px;
}
.content .volunteer .title p{
	font-size: 12px;
	color: #BEBEBE;
	line-height: 20px;
}
.content .volunteer .title h2::after{
	content: "";
	width: 50px;
	height: 3px;
	display: block;
	margin:12px auto;
	background: #E8504F;
	transition:all 0.3s;
}
.content .volunteer .title:hover h2::after{
	width: 150px;
}
.content .volunteer .left{
	width: 350px;
	float: left;
	margin-left: 115px;
	text-align: left;
	margin-top: 60px;
}
.content .volunteer .left p{
	font-size: 12px;
	color: #BEBEBE;
	margin-bottom: 10px;
	line-height: 20px;
}
.content .volunteer .left .link{
	cursor: pointer;
	text-align: right;
}
.content .volunteer .left .link:hover{
	color: red;
}
.content .volunteer .left h2{
	font-size: 14px;
	color: #787b83;
	margin-bottom: 20px;
}
.content .volunteer .right{
	width: 700px;
	float: left;
	margin-top: 60px;
}
.content .volunteer .right input{
	height: 41px;
	width:311px;
	background: #EDEDEF;
	border: none;
	margin:0 8px 8px;
	padding-left: 5px;
	font-size: 12px;
	outline: none;
}
.content .volunteer .right textarea{
	height: 121px;
	width:644px;
	font-size: 12px;
	background-color: #EDEDEF;
	border: none;
	outline: none;
	margin:10px;
	padding-left: 5px;
}
.content .volunteer .right .button{
	height: 41px;
	width:649px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.content .volunteer .right .button:hover{
	background-color: #DDD;
}

.footer{
	position: relative;
	width: 1280px;
	height: 377px;
	background-color: #33363F;
	font-size:10px;
	color: #eee;
}

.footer .contact{
	padding: 88px 0 70px;
}

.footer .contact h2{
	font-size: 23px;
	margin-bottom: 10px;
}

.footer .contact p{
	line-height: 1.4;
}

.footer .contact input{
	margin-top: 20px;
	height: 41px;
	border:none;
	font-size: 15px;
	outline: none;
}

.footer .contact input[type="text"]{
	width: 431px;
	padding-left: 5px;
}

.footer .contact input[type="submit"]{
	width: 81px;
	background-color: #717179;
	color: #eee;
	font-weight: bold;
	cursor: pointer;
}

.footer .contact ul{
	margin-top: 30px; 
}

.footer .contact ul li{
	padding: 0 20px; 
	cursor: pointer;
}

.footer .fbanner{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #30303A;
	color: #eee;
}

.footer .fbanner span{
	display: inline-block;	
}

.footer .fbanner span.sleft{
	margin-left:100px; 
	float: left;
}

.footer .fbanner span.sright{
	float: right;
	margin-right: 100px;
}

/*common*/
ul li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #eee;
}

.clear{
	clear: both;
}

/*图标*/
[class*="icon-"]{
	display: inline-block;
}

.icon-logo{
	/*display: inline-block;*/
	width: 31px;
	height: 31px;
	background: url(../images/logo.png) no-repeat;
	background-size:100% 100%;
}

.icon-login{
	/*display: inline-block;*/
	width: 14px;
	height: 17px;
	background: url(../images/login.png) no-repeat;
}

.icon-qq{
	/*display: inline-block;*/
	width: 24px;
	height: 25px;
	background: url(../images/qq.png) no-repeat;
}

.icon-weibo{
	/*display: inline-block;*/
	width: 29px;
	height: 25px;
	background: url(../images/weibo.png) no-repeat;
}

.icon-twitter{
	/*display: inline-block;*/
	width: 29px;
	height: 25px;
	background: url(../images/twitter.png) no-repeat;
}

.icon-global{
	/*display: inline-block;*/
	width: 24px;
	height: 25px;
	background: url(../images/global.png) no-repeat;
}

.icon-sprite1{
	/*display: inline-block;*/
	width: 42px;
	height: 42px;
	background: url(../images/sprite1.png) no-repeat;
}

.icon-sprite2{
	/*display: inline-block;*/
	width: 42px;
	height: 42px;
	background: url(../images/sprite2.png) no-repeat;
}

.icon-sprite3{
	/*display: inline-block;*/
	width: 42px;
	height: 42px;
	background: url(../images/sprite3.png) no-repeat;
}

.icon-sprite4{
	/*display: inline-block;*/
	width: 42px;
	height: 42px;
	background: url(../images/sprite4.png) no-repeat;
}

.icon-select{
	width: 30px;
	height: 30px;
	background: url(../images/select.png) no-repeat;
}

.icon-triangle{
	width: 26px;
	height: 31px;
	background: url(../images/triangle.png);
}