 /* 默认样式 */
 
 .container {
     font-size: 1rem;
 }
 
 /* 布局 */
 
 .g-header,
 .g-main,
 .g-aside {
     width: 100%;
 }
 
 .g-main,
 .g-aside {
     padding-bottom: 1rem;
     border-bottom: 1.2rem solid #f2f2f2;
 }
 
 /*                   */
 /*  设置 g-header 样式*/
 /*                   */
 
 /* m-title */
 
 .m-title {
     position: relative;
     background-color: #91d4da;
     color: #fff;
     height: 3rem;
 }
 
 .m-title a {
     text-align: center;
     position: absolute;
     line-height: 3rem;
 }
 
 .m-title a span {
     color: #fff;
     margin-left: 2.5em;
     font-weight: bold;
 }
 
 .m-title a span::before,
 .m-title a span::after {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 0;
     height: 0;
     content: ' ';
     left: 0.5rem;
     border: 0.8rem solid transparent;
     border-right: 0.8rem solid #fff;
 }
 
 .m-title a span::after {
     left: 0.8rem;
     border-right: 0.8rem solid #91d4da;
 }
 
 .m-title h1 {
     line-height: 3rem;
     text-align: center;
 }
 
 /* m-nav */
 
 .m-nav ul {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
 }
 
 .m-nav ul li {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     box-sizing: border-box;
     text-align: center;
     height: 3rem;
     line-height: 3rem;
     background-color: #f2f2f2;
     font-weight: bold;
 }
 
 .m-nav .active {
     border-bottom: 0.2rem solid #91d4da;
 }
 
 /*              */
 /* 设置主区域样式 */
 /*              */
 
 /* 焦点图 */
 
 .g-main .m-banner img {
     width: 100%;
 }
 
 /* 标签区 & 栏目区 */
 
 .g-main .m-tag {
     padding-bottom: 1rem;
     border-bottom: 0.2rem solid #f2f2f2;
 }
 
 .g-main .m-tag ul,
 .g-main .m-category ul {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
 }
 
 .g-main .m-tag ul li,
 .g-main .m-category ul li {
     margin-top: 1rem;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
 }
 
 .g-main .m-tag ul li img,
 .g-main .m-category ul li img {
     width: 60%;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     margin-bottom: .5rem;
 }
 
 .g-main .m-category ul li:not(:last-child) {
     border-right: 0.1rem solid #f2f2f2;
 }
 
 /*                */
 /* 模块一 、 模块二 */
 /*                */
 
 .g-aside h2 {
     height: 3rem;
     line-height: 3rem;
     margin: 0 1.3rem 1rem 1.3rem;
     border-bottom: 0.1rem solid #f2f2f2;
 }
 
 .g-aside .m-box {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding-bottom: 1rem;
     margin: 0 1.3rem 0 1.3rem;
 }
 
 .g-aside .m-box img {
     width: 20%;
     height: 20%;
 }
 
 .g-aside .m-box ul {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     margin-left: .5rem;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     text-align: center;
 }
 
 .g-aside .m-box ul li {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     background-color: #f2f2f2;
 }
 
 .g-aside .m-box ul li:last-child {
     margin-top: .5rem;
 }
 
 /*        */
 /*  文章区 */
 /*        */
 
 .g-aside h3 {
     font-size: 22px;
 }
 
 .g-aside .m-article {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin: 1rem 1.3rem 0 1.3rem;
     padding-bottom: 1rem;
     border-bottom: 0.1rem solid #f2f2f2;
 }
 
 .g-aside .m-article img {
     width: 25%;
     height: 25%;
 }
 
 .g-aside .m-article div {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
     margin-left: 1rem;
     position: relative;
 }
 
 .g-aside .m-article div span {
     position: absolute;
     bottom: 0px;
     color: #bcbcbc;
     font-size: 0.7rem;
 }
 
 .g-aside .m-article-list {
     margin: 1rem 1.3rem 1rem 1.3rem;
 }
 
 .g-aside .m-article-list ul {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     margin: 1rem 0 0 0;
 }
 
 .g-aside .m-article-list ul img {
     width: 80%;
 }
 
 .g-aside .m-article-list span {
     color: #bcbcbc;
     font-size: 0.7rem;
 }